footer{
    text-decoration: overline;
}
#lista1{
    display: inline;
    border-right: 2px solid;
    padding-right: 5px;

}
#lista1 a:visited{
        color: red;

    }

#lista1 a:active{
        color: green;

    }

#lista1 a:hover{
        color: orange;

    }
#lista2 a:visited{
    color:blueviolet
}
#lista1 a:active{
        color: green;
    }

#lista1 a:hover{
        color: fuchsia;
    }
body{
    background-color: floralwhite;
}