table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

caption {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

caption small {
    font-size: 14px;
    font-weight: normal;
}

th, td {
    border: 1px solid #666;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

th[scope="row"] {
    text-align: left;
    font-weight: bold;
}

img {
    width: 40px;
    height: auto;
}