h1 {
    color: rgb(1, 95, 8);
    font-size: 24px;
    text-align: center;
}
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 16px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(1, 95, 8);
    color: white;
    cursor: pointer;
}