table {
    width: 400px;
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid;
    padding: 8px;
    vertical-align: top;
}

th {
    text-align: center;
}

.titulo {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

img {
    width: 80px;
    height: auto;
}

.precio-tachado {
    text-decoration: line-through;
}